@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
}

.btnBtn:hover {
    background-color: #A53DFF;
    border-radius: 4px;
    color: white;
}

.btnBtn {
    padding: 12px 24px;
    transition: 0.5s ease, transform 0.3s ease;
}

header nav ul li:hover {
    cursor: pointer;
}

.social-media .item {
    font-size: 18px;
    border-radius: 4px;
    color: #A53DFF;
    transition: 0.5s ease, transform 0.3s ease;
}

.social-media .item:hover {
    background-color: #A53DFF;
    color: white;
}

.all-btn {
    background-color: #A53DFF;
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    border: 1px solid #A53DFF;
    transition: 0.5s ease, transform 0.3s ease;
}

.all-btn:hover{
    background-color: white;
    color: #A53DFF;
}

.all-btn-card {
    background-color: white;   
    padding: 12px 24px;
    border-radius: 4px;
    color: #A53DFF;
    font-weight: 500;
    border: 1px solid #A53DFF;
}

.all-btn-card:hover {
    background-color: #A53DFF;
    color: white;
}

.icon:hover .image{
    background-color: #A53DFF;
}
.icon:hover .text{
    color: white;
}
.icon:hover{
    background-color: white;
}


.slider .slick-slide {
    margin: 8px 10px;
}

.slider .slick-list {
    margin: -8px -10px;
}

.do-card{
    border-left: 4px solid #f9feffae;
    transition: 0.5s ease, transform 0.3s ease;
}

.do-card:hover{
    background-color: rgba(255, 255, 255, 0.419);
    border-left: 4px solid #A53DFF;
    box-shadow: 0px 1px 20px rgba(128, 128, 128, 0.452);
}

.card-slider{
    transition: transform 0.3s ease-in-out;
}
.card-slider:hover{
    transform: scale(1.04);
}

